.btn {
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

header {
    display: flex;
    align-items: center;
    gap: 24px;
    .card-select {
        padding: 8px;
        width: auto;
        text-align: left;
    }
}

.book-card {
    border: 1px solid $border-color;
    border-radius: 8px;
    color: $main-font-color;
    margin: 24px 0;
    padding: 16px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h4,
h5,
p {
    margin-bottom: 4px;
}

.btn-edit {
    background-color: $btn-edit-bg-color;
    color: $main-font-color;
    margin: 16px 16px 0 0;
}

.btn-delete {
    background-color: $btn-delete-bg-color;
    color: $main-light;
}
