label {
    display: block;
}

input,
.select {
    text-align: left;
    padding: 20px;
    border: 2px solid $border-color;
    border-radius: 4px;
    width: 100%;
    &:focus {
        background-color: $input-backround-color__focus;
        outline: none;
        // border: 2px solid $border-color__focus;
    }
}

input[type="number"] {
    width: 30%;
}

label[for="quantity"] {
    font-size: 14px;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    color: red;
    display: none;
}

.select-placeholder {
    color: red;
}

.input-error {
    background-color: $input-backround-color__error;
    outline: none;
    border: 2px solid $input-border-color__error;
}

.input-success {
    // background-color: $input-backround-color__error;
    outline: none;
    border: 2px solid $border-color__success;
}

.submit {
    color: $main-light;
    font-size: large;
    cursor: pointer;
    border: none;
    background-color: $button-background-color;
    &:hover {
        background-color: $button-background-hover;
    }
    &:active {
        background-color: $button-background-color;
    }
    &:focus {
        background-color: $button-background-focus;
    }
}

.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    margin-bottom: 20px;
}
