@import "./main";
@import "./form";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linked {
    &:hover {
        cursor: pointer;
    }
}

.container {
    width: 460px;
    margin: 0 auto;
    padding: 10px;
}

ul {
    list-style-type: none;
}
